#error-notification.notification.is-danger(style= 'display:none;')
  button.delete
  | Hubo un error actualizando
  |, por favor espera hasta que lo intentemos de nuevo. Recuerda no recargar
  |esta página
