section.section
  .container.has-text-centered
    p
      a.button.is-outlined.is-primary(
        href='https://docs.google.com/spreadsheets/d/1PNINE7vaBDlM7rlWpOdWJQ0OvBobg_4J0Y_AFIngEm8/pubhtml',
        target='_blank'
      ) 👀 Ver planilla en Google Sheets 📊

footer.footer
  .container.has-text-centered
    .content
      p
        | Hecho con #[span.icon.is-small &#x2764;]
        | por #[a(href='http://pedroaste.cl') Pedro Pablo Aste Kompen]
        | para El PUClítico
      p
        small
          a(
            href='http://creativecommons.org/licenses/by-nc-nd/4.0/'
            target='_blank'
          )
            | (cc) by-nc-nd
