head
  title Conteo Elecciones FEUC 2017 | El PUClítico
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='icon', type='image/png', href='images/favicon.png')
  link(rel='stylesheet', type='text/css', href='css/style.css')
  script(type='application/javascript', src='js/main.min.js')
