doctype html
include mixins
html
  include head
  body
    section.hero.is-medium.is-primary
      .hero-head
        .container#header
          span#logo
            include logo-elp.svg
          span Primera Vuelta FEUC 2017
      #bar-graph-hero.hero-body
        .container
          .columns
            .column#bind-summary-lista
              h2.title.is-4 Total Lista FEUC
              .bar-graph
                +bar-item('1a', 'mgpc', 'mg')
                +bar-item('Crecer', 'crecerpc', 'crecer')
                +bar-item('NAU', 'naupc', 'nau')
                +bar-item('Solidaridad', 'sddpc', 'sdd')
            .column#bind-summary-sup
              h2.title.is-4 Total Consejero Superior
              .bar-graph
                +bar-item('1a', 'mgpc', 'mg')
                +bar-item('Crecer', 'crecerpc', 'crecer')
                +bar-item('NAU', 'naupc', 'nau')
                +bar-item('Solidaridad', 'sddpc', 'sdd')
                +bar-item('iA', 'iapc', 'ia')
    section.section
      .container
        #refresh-notification.notification.is-warning
          button.delete
          strong ¡No recargues esta página!
          |  esta se actualizará automáticamente a medida que avanza el conteo.
        h2.title.is-2 Detalle
          = ' '
          span.tag.update-notif  Actualizando…
        include total
        .notification.has-text-centered Acá va el mensaje
        include mesas
        include territorios
        include territoriales
        // include participativo
        .columns
          include escrutadas
          include participacion
    include footer
