doctype html
html
  include head.pug
  body
    section.hero.is-medium.is-primary
      .hero-body
        .container
          h1 Resultados
    section.section
      h2.title.is-3 Detalles
      include university-total.pug
      include polling-stations.pug
