doctype html
include mixins
html
  include head
  body
    section.hero.is-medium.is-primary
      .hero-head
        .container#header
          a(
            href='http://www.elpuclitico.cl/inicio'
            target='_blank'
          )
            span#logo
              include logo-elp.svg
          span Segunda Vuelta FEUC 2017
      #bar-graph-hero.hero-body
        .container
          .columns
            .column#bind-summary-lista
              h2.title.is-4 Total Lista FEUC
              .bar-full-graph
                .bar-item
                  .legend NAU
                  .percentage {naupc}%
                .bar-item
                  .legend Solidaridad
                  .percentage {sddpc}%
                .bar-full-item
                  .bar-holder
                    .bar.bar-nau(rv-width='naupc')
                    .bar.bar-sdd(rv-width='sddpc')
            .column#bind-summary-sup
              h2.title.is-4 Total Consejero Superior
              .bar-full-graph
                .bar-item
                  .legend 1a
                  .percentage {mgpc}%
                .bar-item
                  .legend Solidaridad
                  .percentage {sddpc}%
                .bar-full-item
                  .bar-holder
                    .bar.bar-mg(rv-width='mgpc')
                    .bar.bar-sdd(rv-width='sddpc')
    section.section
      .container
        include refresh-notification
        include error-loading-notification
        h2.title.is-2 Detalle
          = ' '
          span.tag.update-notif  Actualizando…
        include total
        // include vote-message
        include mesas
        include territorios
        // include territoriales
        include participativo
        .columns
          include escrutadas
          include participacion
    include footer
    include analytics
