option(value='agro1') Agronomía 1
option(value='agro2') Agronomía 2
option(value='arqui') Arquitectura
option(value='dno') Diseño
option(value='collnat') College Naturales
option(value='collsocsj') College Sociales y Artes SJ
option(value='collsoccc') College Sociales y Artes CC
option(value='comer1') Comercial 1
option(value='comer2') Comercial 2
option(value='com') Comunicaciones
option(value='constru') Construcción Civil
option(value='csbiocc') Cs. Biológicas CC
option(value='csbiosj') Cs. Biológicas SJ
option(value='der1') Derecho 1
option(value='der2') Derecho 2
option(value='enfsj') Enfermería San Joaquín
option(value='enfcc') Enfermería Casa Central
option(value='enfsot') Enfermería Sótero del Río
option(value='fismat') Física y Matemática
option(value='geo') Geografía, Historia y Ciencia Política
option(value='let') Letras y Filosofía
option(value='ing1') Ingeniería 1
option(value='ing2') Ingeniería 2
option(value='ing3') Ingeniería 3
option(value='ing4') Ingeniería 4
option(value='ing5') Ingenieria 5
option(value='med') Medicina
option(value='sotero') Medicina Sótero del Río
option(value='odontosj') Odontología SJ
option(value='odontocc') Odontología CC
option(value='saludcc') Salud CC
option(value='saludsj') Salud SJ
option(value='oriente') Oriente
option(value='educa1') Pedagogía en Educación Parvularia, Media y PFP
option(value='educa2') Pedagogía Básica
option(value='psi') Psicología
option(value='quim') Química
option(value='soc') Sociales
option(value='teo') Teologia
option(value='relig') Pedagogía en Religión
option(value='villsj') Villarrica SJ
option(value='vill') Villarrica
