.box
  .title.is-3 Presupuesto Participativo
  form(name='selected-ppto')
    +selector('territorios')
      option(value='total') Total Universidad
  +day-selector('ppto-dia')
  .columns#bind-projects
    .column.is-7
      p aca va la tabla
    .column
      +canvas('ppto')
      include vote-pills-ppto
      +vote-counter
        | escrutado
