.column
  .box#bind-participacion
    span.title.is-3 Participación
    span
      = '  '
    span.subtitle por territorio
    .table-wrap.bar-graph.panel-graph
      +bar-item('{terri.name}', 'terri.pc')(rv-each-terri='terris')
