.box
  .title.is-3 Presupuesto Participativo
  form(name='selected-ppto')
    +selector('territorios')
      option(value='total') Total Universidad
  +day-selector('ppto-dia')
  .columns#bind-projects
    .column
      .bar-graph.panel-graph
        +bar-item('{ppto.name}', 'ppto.pc')(
          rv-each-ppto='projects'
          rv-addclass='ppto.id'
          class='project-bar-item'
        )
    .column
      +canvas('ppto')
      include vote-pills-ppto
      +vote-counter
        | escrutado
