.box
  .title.is-3 Presupuesto Participativo
  +selector('territorios')
    option(value='total') Total Universidad
  +day-selector('ppto-dia')
  .columns
    .column.is-7
      p aca va la tabla
    .column
      +canvas('ppto')
