.table-wrap
  table.table.is-narrow
    thead
      td Territorio
      td Nombre y movimiento
      td Votos
      td Porcentaje
      td Electo
    +terri-row('agro', 'Agronomía', 2)
    +terri-row('astrofismat', 'Astro - Fís - Mat', 3)
    +terri-row('coll', 'College', 5)
    +terri-row('comer', 'Comercial', 4)
    +terri-row('com', 'Comunicaciones', 3)
    +terri-row('constru', 'Construcción Civil', 2)
    +terri-row('csbio', 'Cs. Biológicas', 3)
    +terri-row('der', 'Derecho', 4)
    +terri-row('educa', 'Educación', 4)
    +terri-row('enf', 'Enfermería', 2)
    +terri-row('hum', 'Humanidades', 5)
    +terri-row('ing', 'Ingeniería', 7)
    +terri-row('loconta', 'Lo Contador', 2)
    +terri-row('med', 'Medicina', 2)
    +terri-row('odonto', 'Odontología', 1)
    +terri-row('oriente', 'Oriente', 2)
    +terri-row('psi', 'Psicología', 3)
    +terri-row('quim', 'Quimica', 1)
    +terri-row('salud', 'Salud', 3)
    +terri-row('soc', 'Sociales', 2)
    +terri-row('vill', 'Villarrica', 2)
