.box
  .title.is-3 Territorios
  form(name='selected-terri')
    +selector('territorios')
  +day-selector('terri-dia')
  .columns
    .column#bind-terri-lista
      h3.title.is-4 Lista FEUC
      +canvas('terri-lista')
      include vote-pills-lista
      +vote-counter
        | escrutado
    .column#bind-terri-sup
      h3.title.is-4 Consejero Superior
      +canvas('terri-sup')
      include vote-pills-sup
      +vote-counter
        | escrutado
