option(value='agro') Agronomía
option(value='astrofismat') Astronomía - Física - Matemática
option(value='coll') College
option(value='comer') Comercial
option(value='com') Comunicaciones
option(value='constru') Construcción Civil
option(value='csbio') Cs. Biológicas
option(value='der') Derecho
option(value='educa') Educación
option(value='enf') Enfermería
option(value='hum') Humanidades
option(value='ing') Ingeniería
option(value='loconta') Lo Contador
option(value='med') Medicina
option(value='odonto') Odontología
option(value='oriente') Oriente
option(value='psi') Psicología
option(value='quim') Quimica
option(value='salud') Salud
option(value='soc') Sociales
option(value='vill') Villarrica
