.box
  .title.is-3 Total Universidad
  .tabs.is-toggle.is-centered
    ul
      li
        a Día 1
      li
        a Día 2
      li.is-active
        a Ambos días
  .columns
    .column
      h3.title.is-4 Lista FEUC
    .column
      h3.title.is-4 Consejero Superior
