.votes
  +vote('mapau', 'mapau', 'mapaupc', 'MAPAU')
  +vote('ani', 'ani', 'anipc' , 'ANIMALIA')
  +vote('tdi-coll', 'tdicoll', 'tdicollpc', 'TDI COLL')
  +vote('el-p', 'elp', 'elppc', 'PUClítico')
  +vote('tdi-cai', 'tdicai', 'tdicaipc', 'TDI CAi')
.votes
  +vote('caco', 'caco', 'cacopc', 'Caconociéndonos')
  +vote('spch', 'spch', 'spchpc', 'SPCH')
  +vote('jsf', 'jsf', 'jsfpc', 'JSF')
  +vote('clmun', 'clmun', 'clmunpc', 'CLMUN')
  +vote('proy', 'proy', 'proypc', 'Proyecta')
.votes
  +vote(null, 'b', 'bpc', 'Blancos')
  +vote(null, 'n', 'npc', 'Nulos')
