.votes
  +vote('mg', 'mg', 'mgpc', '1a')
  +vote('crecer', 'crecer', 'crecerpc', 'Crecer')
  +vote('nau', 'nau', 'naupc', 'NAU')
  +vote('sdd', 'sdd', 'sddpc', 'SDD')
.votes
  +vote(null, 'b', 'bpc', 'Blancos')
  +vote(null, 'n', 'npc', 'Nulos')
